<div class="card" style="width: 18rem;margin:10px;">
  <div class="card-header">
    Post Title
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Post Content</li>
  </ul>
</div>
<div class="card" style="width: 18rem;margin:10px;">
  <div class="card-header">
    Post 2 Title
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Post 2 Content</li>
  </ul>
</div>